body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/img/bgsmoke.jpg');
  overflow-x: hidden;
}

.img-container img {
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.1);
}

.img-thumbnail {
  background-image: url('/img/bgsmoke.jpg');
}

@keyframes ruleta-animacion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ruleta-img.girar {
  animation: ruleta-animacion 4s ease-out;
}


.ruleta-img {
  background-image: url('/img/teachable.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #333;
  }

  .img-thumbnail {
    max-width: 80%;
  }
}